.nav__wrapper {
    padding: 50px 0;
    display: flex;
    position: absolute;
    z-index: 1;
}

.logo {
    width: 90px;
    height: 60px;
    margin-left: 50px;
    margin-right: 400px;
    object-fit: cover;
}

.header__nav {
    width: 100%;
    display: flex;
    gap: 80px;
}

.nav__link {
    text-transform: uppercase;
    display: block;
    cursor: pointer;
    align-items: center;
}

.nav__link a {
    text-decoration: none;
    color: #b4afaf;
}

a:hover {
    text-shadow: 1px 1px 3px rgb(236, 99, 7);
}